
a.category{
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px 20px;
    background-color: transparent;
    text-decoration: none;
    color: black;
}

a.active.category{
    background-color: black;
    color:white;
}


.category-list{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 5px;
}

.book{
    border: 1px solid black;
    padding: 5px;
}


ul {
    padding: 0;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

ul li.book{
    list-style-type: none;
}