
/* *{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(210, 14%, 7%);
}

a.category{
    border: 2px solid rgb(236, 235, 235);
    border-radius: 25px;
    padding: 5px 20px;
    background-color: transparent;
    text-decoration: none;
    color: rgb(155, 155, 155);
}

a.active.category{
    background-color: black;
    color:white;
}


.category-list{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 5px;
}

.book{
    border: 1px solid black;
    padding: 5px;
}


ul {
    padding: 0;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

ul li.book{
    list-style-type: none;
}

.summary{
    border: 1px solid black;
    padding: 5px;
}
.summary p{
    text-overflow: balance;
} */